{% extends 'base.html.twig' %}

{% block title %}
    Modification du compte
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3>Modification du compte <span class="text text-primary">{{ account.name }}</span></h3>
        <br/>
        {{ form_start(form) }}
        <div class="">
            {{ form_row(form.name, {'label': 'Nom du compte','attr': {placeholder: ''}}) }}
        </div><br/>

        <div class="">
            {{ form_row(form.Balance, {'label': 'Modifer la balance','attr': {placeholder: ''}}) }}
            <small id="emailHelp" class="form-text text-muted text-left">Permet de forcer la balance du compte</small>
        </div>
        <br/><br/>

        <div class="bg-light p-4">
            <h5><i class="fas fa-exchange-alt"></i> | Appliquer une transaction</h5>
            <hr/>
        <div class="form-group">
            <label for="formGroupExampleInput">Montant (CAD)</label>
            <div class="input-group">
                <input type="number" value="0" class="form-control" required name="transactionAmount">
                <div class="input-group-append">
                    <span class="input-group-text">$ CAD</span>
                </div>
            </div>
        </div>



        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ActionType" id="inlineRadio1" value="credit" checked="checked">
            <label class="form-check-label" for="inlineRadio1"><span class="badge badge-success">CRÉDIT</span></label>

        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ActionType" id="inlineRadio2" value="debit">
            <label class="form-check-label" for="inlineRadio2"><span class="badge badge-danger">DÉBIT</span></label>

        </div>
        </div>
        <br/>
        <a href="{{ path('accounts') }}" class="btn btn-secondary">Retour</a>
        <button class="btn btn-primary">Appliquer</button>
        {{ form_end(form) }}


    </div>
{% endblock %}

