{% extends 'base.html.twig' %}

{% block nav_rigtht %}

        <a href="{{ path('home') }}" class="btn btn-secondary mr-3">Accueil du site</a>
        <a href="{{ path('security_logout') }}" class="btn btn-outline-secondary">Déconnexion</a>

{% endblock %}

{% block body %}



    <div class="container mt-4">
        <h1>Bonjour <span class="text text-primary">{{ user.getFirstname}} {{user.getName}}</span></h1>

        <hr/><br/>
        <div class="row">
            <div class="col">
                <h3 class="d-inline">Gestion des comptes <span class="badge badge-secondary">{{ nbr_accounts }}</span></h3>
            </div>
            <div class="col text-right">
                <a href="{{ path('new.accounts') }}" class="btn btn-primary d-inline" >Nouveau compte</a>

            </div>
        </div>

        {% for message in app.flashes('success') %}
            <br/>
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <br/>
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <table class="table table-striped mt-4">
            <thead>
            <tr>
                <th>ID</th><th>Nom</th><th>Balance</th><th>Dernière Opération</th><th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.name }}</td>
                    <td class="font-weight-bold {{ account.colorOfDisplay }}">{{ account.formatedBalance }} €</td>
                    <td>{{ account.lastOperation|date("d/m/Y H:i:s", "America/New_York") }}</td>
                    <td>
                        <a href="{{ path('edit.accounts', {id: account.id}) }}" class="btn btn-secondary">Modifier</a>

                        <form method="post" action="{{ path('edit.accounts', {id: account.id}) }}" style="display: inline-block">
                            <button class="btn btn-danger">Supprimer</button>
                            <input type="hidden" name="_method" value="DELETE">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <p>Time zone : America/New_York</p>
    </div>

{% endblock %}

{% block title %}

{% endblock %}
