{% extends 'base.html.twig' %}

{% block title %}
    À propos
{% endblock %}

{% block nav_rigtht %}
    {% if app.user %}

        <a href="{{ path('accounts') }}" class="btn btn-secondary mr-3">Mon Compte</a>
        <a href="{{ path('security_logout') }}" class="btn btn-outline-secondary">Déconnexion</a>

    {% else %}
        <a href="{{ path('accounts') }}" class="btn btn-primary">Espace client</a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h1 class="display-4">À propos</h1>
            </div>
            <div class="col text-right my-auto">
                <a href="{{ path('home') }}" class="btn btn-secondary">Retour à l'accueil</a>
            </div>
        </div>


        <hr><br/>

        <p style="line-height: 1.8">EpiBanK, application Web réalisée par <a href="http://kelbert.fr">Pierre KELBERT</a> et
            <a href="https://www.facebook.com/hugo.diguardia">Hugo DI GUARDIA</a> en mars 2019 pour le cours <a
                    href="https://cours.uqac.ca/8INF345">8INF345</a> - Technologies Web avancées.<br/>
        L'application a été réalisé avec le framework <a href="https://symfony.com">Symfony</a>, le générateur de templates
            <a href="https://twig.symfony.com/doc/2.x/filters/date.html">Twig</a> ainsi que le thème CSS <a
                    href="https://getbootstrap.com">Bootstrap</a>. Ces trois technologies ont été découvertes à l'occasion de la création de EpiBanK.<br/>
        Pour la gestion des versions du projet, un serveur git (<a href="https://about.gitlab.com">gitlab</a>) à été utilisé. <br>Le projet dans sa version de production (version publique accessible à l'adresse <kbd>lab.kelbert.fr/bank</kbd>) est hébergé par
            <a href="https://www.ionos.fr/?ar=1">1&1 Ionos</a> (anciennement 1&1 Internet).</p><br><hr>
        <p class="lead">Sources</p>
        Images:
        <ul>
            <li>Image_home_1 : <a href="http://wallpaperevo.com/?edmc=3471&key=1552190699">CIRCLES IN A NETWORK ABSTRACT 8K UHD WALLPAPER</a> <span class="badge badge-primary">wallpaperevo.com</span></li>
            <li>Image_home_2 : <a href="https://wallpaperscraft.com/wallpaper/code_binary_code_glow_136085">Wallpaper code, binary code, glow, pattern</a> <span class="badge badge-primary">wallpaperscraft.com</span></li>
        </ul>

        Documentation:
        <ul>
            <li>Symfony'doc : <a href="https://symfony.com/doc/current/index.html#gsc.tab=0">Symfony Documentation</a> <span class="badge badge-primary">symfony.com</span></li>
            <li>Bootstrap'doc : <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap Documentation</a> <span class="badge badge-primary">getbootstrap.com</span></li>
            <li>Tutoriel gestion utilisateurs : <a href="https://youtu.be/_GjHWa9hQic">SYMFONY 4/4 : 1H POUR COMPRENDRE L'AUTHENTIFICATION !</a> <span class="badge badge-primary">youtube.com</span></li>
            <li>Tutoriel symfony : <a href="https://www.grafikart.fr/formations/symfony-4-pratique">Symfony 4 par l'exemple</a> <span class="badge badge-primary">grafikart.fr</span></li>
        </ul>

        <br/><br/>
            <a class="btn btn-secondary" href="{{ path('home') }}" role="button">Retour à l'accueil</a>
    </div>
{% endblock %}


